<div>
  <mat-toolbar class="detail-dialog-header" layout="row" color="primary">
    <mat-toolbar-row>
      <span style="font-weight: bold;">{{detailInfo.title}}</span>
      <span style="flex: 1 1 auto"></span>
      <button mat-icon-button color="" matTooltip="Close" (click)="closeMe()">
        <mat-icon>clear_all</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div style="padding-top: 12px;">

    <mat-tab-group color="accent">
      <mat-tab *ngFor="let ety of detailInfo.entries; let i = index" [label]="ety.label">
        <div>
          <!-- <common-mark-entry [markdown]="ety.markdownContent" [debug-enabled]="ety.debugEnabled" [renderer-options]="ety.rendererOptions"></common-mark-entry> -->
          <common-mark-entry [url]="ety.markdownUrl" [markdown]="ety.markdownContent" [debug-enabled]="ety.debugEnabled" [renderer-options]="ety.rendererOptions"></common-mark-entry>
        </div>
      </mat-tab>
    </mat-tab-group>

  </div>

</div>