@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Reference: Material color palettes
// https://material.io/guidelines/style/color.html#color-color-palette

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$my-light-primary: mat-palette($mat-teal);
// $my-light-accent:  mat-palette($mat-cyan, A200, A100, A400);
$my-light-accent:  mat-palette($mat-blue-grey, A200, A100, A400);

// The warn palette is optional (defaults to red).
$my-light-warn:    mat-palette($mat-deep-orange);

// Create the theme object (a Sass map containing all of the palettes).
$my-light-theme: mat-light-theme($my-light-primary, $my-light-accent, $my-light-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($my-light-theme);


// Define an alternate dark theme.
$my-dark-primary: mat-palette($mat-amber);
$my-dark-accent:  mat-palette($mat-cyan, A200, A100, A400);
$my-dark-warn:    mat-palette($mat-deep-orange);
$my-dark-theme:   mat-dark-theme($my-dark-primary, $my-dark-accent, $my-dark-warn);

// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.my-dark-theme {
  @include angular-material-theme($my-dark-theme);
}
